@media only screen and (min-width: 701px) {

body {
    margin: 0;
    font-family:monospace;
  }

.navbar{
  border-bottom: 1px blue solid;
  width:100%;
  position:sticky;
  top:0;
  position:fixed;
  background-color:white;
  margin-left:-16px;
}
  
html {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    background-color: #ffffff;
  }

.content{
  width:100%;
  margin-top:-10px;
}

.intro{
  width:70%;
  float:left;
}

.introimg{
  width:30%;
  float:right;

}
.portfolio{
  width:100%;
  display:flex;
  margin-top:30px;
flex-direction: column-reverse;
align-items: center;

}
.port{
  text-align: center;
}

.portfolio-1{
  width:100%;
display:flex;
flex-direction: column;
align-items: center;
gap:20px;
  
}

.portfolio-2{
  width:100%;

  text-align: center;
margin-bottom:40px;
}

 .name{
    color:#BBDD00;
    font-family: Arial, Helvetica, sans-serif;
    font-style:italic;
    font-weight: bold;
    text-align:right;
    font-size:40px;
    margin-top:-55px;
   width:30%;
   float:right;
   margin-right:5px;
 }

 .nav{
  display:flex;
  justify-content:space-between;
  width:65%;
  margin-left:-34px;
}
.frame{
  height:100%;
  width:100%;
}
.homee, .resumee, .modelingg, .contactt, .artt, .neww{
    border:1px solid red;
    background-color:blue;
    display:inline;
    padding:10px;
    margin-top:20px;
  }

 .pic{
  width:90%;
  height:90%;
  border: 1px solid red;
  padding:10px;
  float:right;
  margin-right:-3px;

}
 
 h2 {
    font-size: 25px;
    font-style: italic;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    color:#FFEB00;
    margin-top:110px;
  }

a:link{
    color:white;
    text-decoration: none;
    background-color:blue;
}

a:visited {
    color:white;
}

a:hover {
    color: yellow;
}

p{
 font-size:14px;
}

.resume{
  display:flex;
  justify-content: center;
  height:100%;
  width:100%;
}

.res{
height:90%;
width:90%;
border:1px solid red;
}

.row-1{
  display:flex;
  flex-direction: column;
  width:100%;
  margin-top:-20px;
}

.col-1{
  width:100%;
  text-align: center;

  
}

.col-2{
  width:100%;
  float:right;
  display:grid;
  grid-template-columns: 5fr 5fr;
  align-content:Center;
  display:Flex;
}

.tar1, .tar2, .tar3, .tar4, .rue1, .rue2, .rue3, .rue4, .spy1, .spy2, .jans, .croc, .nob, .mag {
  width:100%;
  height:100%;
 
}

.photos{
  display:grid;
  grid-template-columns: 5fr 5fr;
  list-style:none;
  gap:1px;
  border:1px solid red;
  padding:5px;


}

.mail{
  width:40px;
  height:30px;
  padding-right:5px;
}

.ig{
  width:40px;
  height:40px;
  padding-right:5px;
}

.li{
  width:40px;
  height:40px;
  padding-right:5px;
}

.icons{
  text-align:center;
}

.wrapper{
  display:flex;
  justify-content: center;

}
.container{
  background-color:black;
  height:400px;
  width:400px;
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  padding:10px;
  gap:10px;
  
}

button{
margin-left:10px;
}

button:hover{
  background-color:blue;
  cursor: pointer;
}

.quad-circle{
  clip-path:circle(100.3% at 0 0);
}
.square{
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}
.cross{
  clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%);
}
.ex{
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.star{
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 65% 55%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.triangle-1{
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.triangle-2{
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.circle{
  clip-path: circle(50% at 50% 50%);

}
.diamond{
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

}


@media screen and (max-width: 700px) {

  body {
    margin: 0;
    font-family:monospace;
  }

  .navbar{
    width:100%;
    position:sticky;
    top:0;
    position:fixed;
    background-color:white;
    height:19%;
    margin-left:-15px;
    border-bottom: 1px blue solid;
    padding-bottom:7px;
  }


html {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    background-color: #ffffff;
  }

  .content{
    width:100%;
    margin-top:-10px;
    flex-direction:column-reverse;
    display:flex;
  }
  
  .intro{
    width:100%;
    float:left;
  }
  
  .introimg{
    width:100%;
    float:right;
  }
  
   .name{
      color:#BBDD00;
      font-family: Arial, Helvetica, sans-serif;
      font-style:italic;
      font-weight: bold;
      text-align:center;
      font-size:40px;
      width:100%;
    margin-top:1px;
  
   }
  
   .navv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    width:100%;
  }
  
.nav{
  display:flex;
  justify-content:space-evenly;
  width:100%;
  margin-left:-43px;
}

.homee, .resumee, .modelingg, .contactt, .artt, .neww{
    border:1px solid red;
    background-color:blue;
    display:inline;
    padding:10px;
  }

   

 .pic{
  width:30%;
  height:30%;
  margin-right:35%;
  border: 1px solid red;
  padding:10px;
  float:right;
  margin-top:-10px;
 }
 
  h2 {
     font-size: 25px;
     font-style: italic;
     font-weight:bold;
     font-family: Arial, Helvetica, sans-serif;
     color:#FFEB00;
    margin-top:131px;
   }
 


a:link{
    color:white;
    text-decoration: none;
    background-color:blue;
}

a:visited {
    color:white;
}

a:hover {
    color: yellow;
}

p{
 font-size:14px;

}

.resume{
  display:flex;
  justify-content: center;
  height:100%;
  width:100%;
  border:1px solid red;
}

.res{
height:100%;
width:100%;
}

.row-1{
  flex-direction: column;
  width:100%;
  
}

.col-1{
  text-align: center;
}

.col-2{
  float:right;
  display:grid;
  grid-template-columns: 5fr 1fr;
  

}

.tar1, .tar2, .tar3, .tar4, .rue1, .rue2, .rue3, .rue4, .spy1, .spy2, .jans, .croc, .nob, .mag {
  width:100%;
  height:100%;
 
}

.photos{
  display:grid;
  grid-template-columns: 1fr 1fr;
  list-style:none;
  gap:2px;
  border:1px solid red;
  padding:5px;
  width:115%;
  height:100%;

}
.port{
  text-align: center;
}

.mail{
  width:40px;
  height:30px
}

.ig{
  width:40px;
  height:40px;
}

.li{
  width:40px;
  height:40px;
}

.icons{
  text-align:center ;
  padding:5px;

}

.wrapper{
  display:flex;
align-items: center;
flex-direction: column;

}
.container{
  background-color:black;
  height:400px;
  width:400px;
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  padding:10px;
  gap:10px;
}

button{
  margin-top:10px;
  width:420px;
  height:50px;
}

.portfolio{
  width:100%;
  display:flex;
  margin-top:30px;
flex-direction: column-reverse;
align-items: center;

}

.portfolio-1{
  width:100%;
  align-items: center;
  display:flex;
flex-direction: column;
gap:20px;
  
}

.portfolio-2{
  width:100%;
  float:left;
  text-align: center;
margin-bottom:40px;
}

button:hover{
  background-color:blue;
  cursor: pointer;
}

.quad-circle{
  clip-path:circle(100.3% at 0 0);
}
.square{
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}
.cross{
  clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%);
}
.ex{
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.star{
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 65% 55%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.triangle-1{
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.triangle-2{
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.circle{
  clip-path: circle(50% at 50% 50%);

}
.diamond{
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

}
